//Police__Poppins

@font-face{
	font-family: "Poppins__Medium";
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url("../font/Poppins-Medium.ttf") format("truetype");
}
@font-face{
	font-family: "Poppins__Regular";
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url("../font/Poppins-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Poppins__Bold.ttf";
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url("../font/Poppins-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Poppins__light";
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url("../font/Poppins-Light.ttf") format("truetype");
}
@font-face{
	font-family: "Oswald-Regular";
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url("../font/Oswald-Regular.ttf") format("truetype");
}
//Police__OpenSans;
@font-face{
	font-family: "OpenSans__Bold";
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url("../font/OpenSansCondensed-Bold.ttf") format("truetype");
}
@font-face{
	font-family: "OpenSans_Light";
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url("../font/OpenSansCondensed-Light.ttf") format("truetype");
}
@font-face{
	font-family: "OpenSans_lighItalic";
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url("../font/OpenSansCondensed-LightItalic.ttf") format("truetype");
}